.modry {
    background-color: blue;
    width: 600px;
    height: 600px;
}
.cerveny {
    background-color: red;
    width: 300px;
    height: 300px;
}
.zeleny {
    background-color: green;
    width: 50px;
    height: 50px;
}
